# Environment / secrets
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Pytest cache
.pytest_cache/

# Distribution / build
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Docs & DB
docs/
*.db
*.sqlite
*.log

Home.pdf